<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Marka Listesi</h4>
              <p class="card-category">Tüm Markalar</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>Marka Adı</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let brand of brands">
                        <td>{{brand.brandName}}</td>           
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
