<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Kiralama Listesi</h4>
              <p class="card-category">Tüm Kiralamalar</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>Araba Adı</th>
                    <th>Müşteri Adı</th>
                    <th>Süresi</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let rental of rentals">
                      <td>{{ rental.carName }}</td>
                      <td>{{ rental.customerName }}</td>
                      <td>{{ rental.date }}</td>         
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
