<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Müşteri Listesi</h4>
              <p class="card-category">Tüm Müşteriler</p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>Müşteri Adı</th>
                    <th>Müşteri Soyadı</th>
                    <th>Şirket Adı</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let customer of customers">
                      <td>{{ customer.firstName }}</td>
                      <td>{{ customer.lastName }}</td>
                      <td>{{ customer.companyName }}</td>         
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

